<h1>Editing Task</h1>

<%= render 'form', task: @tag %>

<%= link_to 'Show', @tag , class: 'btn btn-primary left-marge', style: "color: white;"%> |
<%= link_to 'Back', tags_path, class: 'btn btn-success left-marge', style: "color: white;" %>
